.project-mirror-settings {
  .fingerprint-verified {
    color: $green-500;
  }

  .ssh-public-key,
  .btn-copy-ssh-public-key {
    float: left;
  }

  .ssh-public-key {
    width: 95%;
    word-wrap: break-word;
    word-break: break-all;
  }

  .btn-copy-ssh-public-key {
    margin-left: 5px;
  }

  .known-hosts {
    font-family: $monospace_font;
  }

  .btn-show-advanced {
    min-width: 135px;

    .label-show {
      display: none;
    }

    .label-hide {
      display: inline;
    }

    .fa.fa-chevron::before {
      content: "\f077";
    }

    &.show-advanced {
      .label-show {
        display: inline;
      }

      .label-hide {
        display: none;
      }

      .fa.fa-chevron::before {
        content: "\f078";
      }
    }
  }

  .fingerprints-list {
    code {
      display: block;
      padding: 8px;
      margin-bottom: 5px;
    }

    &.invalidate {
      text-decoration: line-through;
    }
  }

  .changing-auth-method {
    display: flex;
    justify-content: center;
  }
}
